@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99999999;
  background-color: #fff;
}

#logo {
  color: #172b4f;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.menu {
  color: #172b4f;
  font-size: 12px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/Images/header-illsutration-mobile@2x.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
}

.identity {
  color: #172b4f;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.identity span {
  color: #36b37e;
}

.profile {
  font-weight: 400;
  font-size: 20px;
  color: #172b4d;
  text-decoration: none;
  margin-top: 20px;
  line-height: 28px;
  text-align: center;
}

.icon-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  list-style-type: none;
}

.icon {
  padding: 5px;
  margin-left: 0;
  color: #505f79;
}

.fa-brands {
  font-size: larger;
  color: #505f79;
}

.fa-solid {
  font-size: larger;
  color: #505f79;
}
